In [9]:
import pandas as pd

In [24]:
df_Entry_Exit = pd.read_csv('demo.csv')

In [25]:
df_Entry_Exit

,ID,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,T16,T17,T18,T19,T20,T21,T22,T23,T24,T25
0,A,1,2,3,4,5,6,7,8,9,...,116,117,118,119,120,121,122,123,124,125
1,B,2,3,4,5,6,7,8,9,10,...,117,118,119,120,121,122,123,124,125,126
2,C,3,4,5,6,7,8,9,10,11,...,118,119,120,121,122,123,124,125,126,127
3,D,4,5,6,7,8,9,10,11,12,...,119,120,121,122,123,124,125,126,127,128
4,E,5,6,7,8,9,10,11,12,13,...,120,121,122,123,124,125,126,127,128,129
5,F,6,7,8,9,10,11,12,13,14,...,121,122,123,124,125,126,127,128,129,130
6,G,7,8,9,10,11,12,13,14,15,...,122,123,124,125,126,127,128,129,130,131
7,H,8,9,10,11,12,13,14,15,16,...,123,124,125,126,127,128,129,130,131,132
8,I,9,10,11,12,13,14,15,16,17,...,124,125,126,127,128,129,130,131,132,133

In [38]:
temp_all = []
offset = 0
for idx, row in df_Entry_Exit.iterrows():
    temp = []
    for group in range(1, 6):
        # here are the value pairs based on offset
        temp += (row[group + offset], row[group + 25 + offset])
    temp_all.append(temp)
    offset += 1

temp_all

[[1, 101, 2, 102, 3, 103, 4, 104, 5, 105],
 [3, 103, 4, 104, 5, 105, 6, 106, 7, 107],
 [5, 105, 6, 106, 7, 107, 8, 108, 9, 109],
 [7, 107, 8, 108, 9, 109, 10, 110, 11, 111],
 [9, 109, 10, 110, 11, 111, 12, 112, 13, 113],
 [11, 111, 12, 112, 13, 113, 14, 114, 15, 115],
 [13, 113, 14, 114, 15, 115, 16, 116, 17, 117],
 [15, 115, 16, 116, 17, 117, 18, 118, 19, 119],
 [17, 117, 18, 118, 19, 119, 20, 120, 21, 121]]